@import "./normalize.css";
:root{
  --color-text:#666;
  --color-high-text:#ff5777;
  --color-tint:#ff8198;
  --color-background:#fff;
  --font-size:14px;
  --line-height:1.5;
}


.ellipsis { overflow:hidden; white-space:nowrap; -o-text-overflow:ellipsis; text-overflow:ellipsis;}
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix { display:inline-block; }
* html .clearfix { height:1%; }
.clearfix{ display:block; }

